<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cycle007/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,2}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,2}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,2}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,313},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,2}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,313},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,625},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,625},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,1},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,1},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,311},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,311},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,933},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,933},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,619},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,619},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,1231},{316,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,1231},{316,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,921},{316,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,921},{316,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1225},{316,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1225},{316,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1529},{316,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-2}</string>
                <key>spriteSize</key>
                <string>{316,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1529},{316,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,309},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,309},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1239},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1239},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,925},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,925},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,615},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle007/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,615},{316,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>cycle07.png</string>
            <key>size</key>
            <string>{955,1832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62f8cb0f28d290d17f1f5dc292b202fb:442309eabb18e8bc3d280cb30bb9e7a6:e05a3ce4f635e7b8763244d5bea51284$</string>
            <key>textureFileName</key>
            <string>cycle07.png</string>
        </dict>
    </dict>
</plist>
