<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cycle1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,1},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,1},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-2}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,1},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,1},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,1},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle6</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,309},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle7</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,309},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle8</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,2}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,309},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle9</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,309},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,309},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-2}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,621},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,621},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,621},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,621},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,621},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,2}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,931},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,931},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,309},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-2}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,931},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,931},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,931},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,1243},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,1243},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,2}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,1243},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,1243},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,1243},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-2}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,1555},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,1},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,1555},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,1555},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,1555},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,2}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,1555},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>cycle01.png</string>
		<key>size</key>
		<string>{1590,1866}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:086a6be8ccc90a32eab2a0f4d3d943c1:10d2da7e7aee854ae8e271c57156bb00:986b204414f715e7b3da9d8ccd9de0b9$</string>
		<key>textureFileName</key>
		<string>cycle01.png</string>
	</dict>
</dict>
</plist>
