<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>birdcycle0</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-124,100}</string>
			<key>spriteSize</key>
			<string>{60,90}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{515,1},{60,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>birdcycle1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-138,100}</string>
			<key>spriteSize</key>
			<string>{112,90}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,1},{112,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>birdcycle2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-140,100}</string>
			<key>spriteSize</key>
			<string>{108,90}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{115,1},{108,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>birdcycle3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-142,100}</string>
			<key>spriteSize</key>
			<string>{102,90}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{225,1},{102,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>birdcycle4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-143,100}</string>
			<key>spriteSize</key>
			<string>{100,90}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{329,1},{100,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>birdcycle5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-123,100}</string>
			<key>spriteSize</key>
			<string>{82,90}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{431,1},{82,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>birdcycle6</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-124,100}</string>
			<key>spriteSize</key>
			<string>{60,90}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{577,1},{60,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>bluebird.png</string>
		<key>size</key>
		<string>{638,92}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:896a28d500aa2f332e2d54e295e6a3e0:2a9f03b34557bef38322cb464d6136c6:7c31e362406ecdf24ce23e48da03a44d$</string>
		<key>textureFileName</key>
		<string>bluebird.png</string>
	</dict>
</dict>
</plist>
