<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cycle0</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{966,1574},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{646,1574},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-2}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{326,1574},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{6,1574},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1286,1260},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{966,1260},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle6</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{646,1260},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle7</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,2}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{326,1260},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle8</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{6,1260},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle9</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1286,948},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-2}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{966,948},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{646,948},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{326,948},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{6,948},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1286,634},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,2}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{966,634},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{6,1260},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{646,634},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-2}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{326,634},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{646,948},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{6,634},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1286,320},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1286,634},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,2}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{966,320},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{646,320},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{326,320},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-2}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{6,320},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,-1}</string>
			<key>spriteSize</key>
			<string>{316,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1286,6},{316,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{966,6},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{646,6},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{326,6},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,2}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{6,6},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>cycle01.png</string>
		<key>size</key>
		<string>{1608,1886}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:86e73b354e2149562f75f86ccfcceeb8:aa2b3562e5e9271f3dd3a386b83628eb:0a50d36953a57ed81756cfcff315e73f$</string>
		<key>textureFileName</key>
		<string>cycle01.png</string>
	</dict>
</dict>
</plist>
