<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cycle0</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,1}</string>
			<key>spriteSize</key>
			<string>{332,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,1},{332,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,1}</string>
			<key>spriteSize</key>
			<string>{332,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{335,1},{332,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,1}</string>
			<key>spriteSize</key>
			<string>{332,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{669,1},{332,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,1}</string>
			<key>spriteSize</key>
			<string>{332,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1003,1},{332,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,0}</string>
			<key>spriteSize</key>
			<string>{334,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1337,1},{334,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,0}</string>
			<key>spriteSize</key>
			<string>{334,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1673,1},{334,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle6</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,-1}</string>
			<key>spriteSize</key>
			<string>{334,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,311},{334,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle7</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,-1}</string>
			<key>spriteSize</key>
			<string>{334,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{337,311},{334,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle8</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,-1}</string>
			<key>spriteSize</key>
			<string>{336,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{673,311},{336,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle9</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,-1}</string>
			<key>spriteSize</key>
			<string>{336,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1011,311},{336,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,-1}</string>
			<key>spriteSize</key>
			<string>{336,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1349,311},{336,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,-1}</string>
			<key>spriteSize</key>
			<string>{336,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,621},{336,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,-1}</string>
			<key>spriteSize</key>
			<string>{334,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{339,621},{334,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,-1}</string>
			<key>spriteSize</key>
			<string>{334,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{675,621},{334,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,-1}</string>
			<key>spriteSize</key>
			<string>{334,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1011,621},{334,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-478,-1}</string>
			<key>spriteSize</key>
			<string>{334,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1347,621},{334,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,-2}</string>
			<key>spriteSize</key>
			<string>{334,302}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,931},{334,302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,-2}</string>
			<key>spriteSize</key>
			<string>{334,302}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{337,931},{334,302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,-2}</string>
			<key>spriteSize</key>
			<string>{334,302}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{673,931},{334,302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,-2}</string>
			<key>spriteSize</key>
			<string>{334,302}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1009,931},{334,302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-481,-3}</string>
			<key>spriteSize</key>
			<string>{330,300}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1345,931},{330,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-481,-3}</string>
			<key>spriteSize</key>
			<string>{330,300}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1677,931},{330,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-481,-3}</string>
			<key>spriteSize</key>
			<string>{330,300}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,1235},{330,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-481,-3}</string>
			<key>spriteSize</key>
			<string>{330,300}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{333,1235},{330,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,-3}</string>
			<key>spriteSize</key>
			<string>{332,300}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{665,1235},{332,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,-3}</string>
			<key>spriteSize</key>
			<string>{332,300}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{999,1235},{332,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,-3}</string>
			<key>spriteSize</key>
			<string>{332,300}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1333,1235},{332,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-479,-3}</string>
			<key>spriteSize</key>
			<string>{332,300}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1667,1235},{332,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-477,-1}</string>
			<key>spriteSize</key>
			<string>{338,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,1537},{338,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-477,-1}</string>
			<key>spriteSize</key>
			<string>{338,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{341,1537},{338,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-477,-1}</string>
			<key>spriteSize</key>
			<string>{338,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{681,1537},{338,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-477,-1}</string>
			<key>spriteSize</key>
			<string>{338,304}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1021,1537},{338,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>cycle08.png</string>
		<key>size</key>
		<string>{2008,1842}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4d6a99a05b36d023659452c1b37720a1:3075617df3551761f0ae929a71d64cb6:31430b17406fb7011b63e29b12d8e745$</string>
		<key>textureFileName</key>
		<string>cycle08.png</string>
	</dict>
</dict>
</plist>
