<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cycle003/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,3}</string>
                <key>spriteSize</key>
                <string>{316,312}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{316,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,941},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,629},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,933},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{955,621},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1273,621},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,627},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,313},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,3}</string>
                <key>spriteSize</key>
                <string>{316,312}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,315},{316,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{955,1},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,315},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1241},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1549},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{955,929},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1273,1},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1251},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,3}</string>
                <key>spriteSize</key>
                <string>{316,312}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,315},{316,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{955,1},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,315},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1273,929},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1549},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{955,1237},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,937},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,623},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,3}</string>
                <key>spriteSize</key>
                <string>{316,312}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,1},{316,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{955,311},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1273,1237},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{955,1545},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1273,1545},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1273,311},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle003/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,1247},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>cycle03.png</string>
            <key>size</key>
            <string>{1590,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a0c6d2b11cb42066d0d0c70a5dc9b75:7a3a9592ac81188c4f1b68178d863c8c:2513bdeb5a58161007fdc521ea393ba2$</string>
            <key>textureFileName</key>
            <string>cycle03.png</string>
        </dict>
    </dict>
</plist>
