<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cycle004/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,2}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,2}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,313},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,313},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,1},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,623},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,625},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,935},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,2177},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,2173},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,2173},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,2485},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,2481},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,933},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,937},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1247},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,1243},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,2}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,2}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,625},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1243},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,313},{316,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1557},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,-1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,1553},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,2481},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,2793},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,2789},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,2789},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,3097},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,0}</string>
                <key>spriteSize</key>
                <string>{316,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,3097},{316,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1553},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1867},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{319,1863},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle004/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-487,1}</string>
                <key>spriteSize</key>
                <string>{316,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{637,1863},{316,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>cycle04.png</string>
            <key>size</key>
            <string>{954,3404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b21939f58c52f253325cce7a4b497f3:1365c014f1441f379f8c88a5f2fc77b7:33135118267b184c3d8816edd62f2da6$</string>
            <key>textureFileName</key>
            <string>cycle04.png</string>
        </dict>
    </dict>
</plist>
