<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cycle0</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,3}</string>
			<key>spriteSize</key>
			<string>{316,312}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,1},{316,312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,1},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,1},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,1},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,1},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,315},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle6</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,315},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle7</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,315},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle8</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,3}</string>
			<key>spriteSize</key>
			<string>{316,312}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,315},{316,312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle9</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,315},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,629},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,629},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,629},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,629},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,629},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,941},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,3}</string>
			<key>spriteSize</key>
			<string>{316,312}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,315},{316,312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,315},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,629},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,941},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,941},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,941},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,941},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,1251},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,3}</string>
			<key>spriteSize</key>
			<string>{316,312}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,1251},{316,312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,1251},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,310}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,1251},{316,310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{955,1},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1273,1251},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,0}</string>
			<key>spriteSize</key>
			<string>{316,306}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1,1565},{316,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{319,1565},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cycle31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-487,1}</string>
			<key>spriteSize</key>
			<string>{316,308}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{637,1565},{316,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>cycle03.png</string>
		<key>size</key>
		<string>{1590,1874}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:940145a77d9e2604b87b45871055f91a:f7f8ac29effc911fc66ab7e6c5b3047c:2513bdeb5a58161007fdc521ea393ba2$</string>
		<key>textureFileName</key>
		<string>cycle03.png</string>
	</dict>
</dict>
</plist>
