<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cycle008/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-495,1}</string>
                <key>spriteSize</key>
                <string>{332,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,621},{332,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-495,1}</string>
                <key>spriteSize</key>
                <string>{332,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,621},{332,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-495,1}</string>
                <key>spriteSize</key>
                <string>{332,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{339,311},{332,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-495,1}</string>
                <key>spriteSize</key>
                <string>{332,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{339,311},{332,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,0}</string>
                <key>spriteSize</key>
                <string>{334,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{335,621},{334,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,0}</string>
                <key>spriteSize</key>
                <string>{334,306}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{335,621},{334,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,-1}</string>
                <key>spriteSize</key>
                <string>{334,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{339,1},{334,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,-1}</string>
                <key>spriteSize</key>
                <string>{334,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{339,1},{334,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-497,-1}</string>
                <key>spriteSize</key>
                <string>{336,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-497,-1}</string>
                <key>spriteSize</key>
                <string>{336,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-497,-1}</string>
                <key>spriteSize</key>
                <string>{336,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,311},{336,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-497,-1}</string>
                <key>spriteSize</key>
                <string>{336,308}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,311},{336,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,-1}</string>
                <key>spriteSize</key>
                <string>{334,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,931},{334,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,-1}</string>
                <key>spriteSize</key>
                <string>{334,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,931},{334,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,-1}</string>
                <key>spriteSize</key>
                <string>{334,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1237},{334,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,-1}</string>
                <key>spriteSize</key>
                <string>{334,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1237},{334,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,-2}</string>
                <key>spriteSize</key>
                <string>{334,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{337,1235},{334,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,-2}</string>
                <key>spriteSize</key>
                <string>{334,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{337,1235},{334,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,-2}</string>
                <key>spriteSize</key>
                <string>{334,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{675,307},{334,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-496,-2}</string>
                <key>spriteSize</key>
                <string>{334,302}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{675,307},{334,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-494,-3}</string>
                <key>spriteSize</key>
                <string>{330,300}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{677,913},{330,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-494,-3}</string>
                <key>spriteSize</key>
                <string>{330,300}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{677,913},{330,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-494,-3}</string>
                <key>spriteSize</key>
                <string>{330,300}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{677,1215},{330,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-494,-3}</string>
                <key>spriteSize</key>
                <string>{330,300}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{677,1215},{330,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-495,-3}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{673,611},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-495,-3}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{673,611},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-495,-3}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{673,1517},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-495,-3}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{673,1517},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498,-1}</string>
                <key>spriteSize</key>
                <string>{338,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{675,1},{338,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498,-1}</string>
                <key>spriteSize</key>
                <string>{338,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{675,1},{338,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498,-1}</string>
                <key>spriteSize</key>
                <string>{338,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{337,929},{338,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cycle008/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498,-1}</string>
                <key>spriteSize</key>
                <string>{338,304}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{337,929},{338,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>cycle8.png</string>
            <key>size</key>
            <string>{1015,1818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:518f6fc52ae9c025e49ea4f923207fed:1f2c03ace58913903ec2b6f90bcbc7c8:5f4701d7d56be5b14b10572900c70804$</string>
            <key>textureFileName</key>
            <string>cycle8.png</string>
        </dict>
    </dict>
</plist>
